<suite name="final Project test">

    <listeners>
        <listener class-name="org.example.Utils.TestListener"/>
    </listeners>

    <test name="Login Test">
        <parameter name="username" value="Tbilisi" />
        <parameter name="password" value="123456" />
        <classes>
            <class name="org.example.tests.LoginTest" />
        </classes>
    </test>

    <test name="Applications Test">
        <classes>
            <class name="org.example.tests.ApplicationsTest" />
        </classes>
    </test>

    <test name="Invoices Test">
        <classes>
            <class name="org.example.tests.InvoicesTest" />
        </classes>
    </test>

</suite>